body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

.container{
    display: flex;
    text-align: center;
}

.black-keys{
    position: absolute;
}

.black-keys kbd{
    display: inline-block;
    position: relative;
    height: 130px;
    width: 42px;
    z-index: 1;
    top: -2px;
    left: 20px;
    margin-left: 20px;
    line-height: 200px;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

.white-keys kbd{
    display: inline-block;
    position: relative;
    z-index: 0;
    height: 200px;
    width: 60px;
    border: 2px solid gray;
    line-height: 320px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: -2px;
}

#keyW + #keyE{
    margin-right: 60px;
}


